@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #F5F5F5;
}

* {
  box-sizing: border-box
}

h1 {
  color: #eff0f2;
  /* font-family: 'Courgette', cursive; */
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;


}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #eff0f2;
  font-weight: normal;
  /* font-size: 1em; */
}

.banner-font {
  color: #353839;
  /* font-family: 'Courgette', cursive; */
  font-family: 'Roboto', sans-serif;

}

h3 {
  /* font-family: 'Courgette', cursive; */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #353839;

}

a, li, p, button {
  /* font-family: 'Courgette', cursive; */
  font-family: 'Roboto', sans-serif;
}


a {
  color: white;
}

li {
  color:#484848;
}

.logo-text {
  display: flex;
  min-width: 90vw;
  flex-direction: row;
  justify-content: flex-start
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-width: 100vw;
  font-size: calc(10px + 2vmin);
  margin: 0 auto;
  background-color: #130d0d;

}

.img-header {
  max-width: 50vw;
  background-color: #130d0d
}

.headline {
  max-width: 50vw;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width:100vw;
  display: flex;
  margin: 0 auto;
}

.gray-body {
  background-color:gray;
  /* z-index: 1; */

}

.search-input {
  width: 50vw;
  height: 2.5em;
  border-radius: 5px;
  border: 1px solid lightgray;
  /* font-family: 'Courgette', cursive; */
  font-family: 'Roboto', sans-serif;
  margin-bottom: .1em;

}

button {
  height: 2em;
  color:#484848;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-width: 90%;
  font-size: 1em;
}

button:hover:enabled {
  background-color: lightgray;
}

button:disabled {
  color: lightgray;
}

.submit-btn {
  min-width: 0%;
  padding: 0 10px;
  margin-left: .1em;
}

.body-results {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.details-card-link {
  text-decoration: underline;

}

.nominations-list-item:hover {
  background-color: #F5F5F5;
}

.details-card {
  display: block;
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 25%;
  margin-top: -40vh;
  margin-left: -5vw;
  max-width: 60vw;
  min-height:75vh;
  background-color: white;
  box-shadow: 0px 10px 10px -5px #484848;
  border-radius: 5px;

}

.details-box {
  display: flex;
  flex-direction: column;
  margin: 5px;
  min-height: 100%;
  min-width: 90%;
  text-align: left;
}

.details-box h3 {
  font-family: 'Roboto', sans-serif;
  color: #353839;
  text-transform: uppercase;

}

.details-box p span {
  font-weight: bold;
  text-transform: uppercase;
}

.movie-poster-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50vh;
}

.hidden {
  display: none
}

.reel-img {
  max-width: 60vw;
  max-height: 60vh;
}

.banner-box {
  display: block;
  z-index: 5;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 75vw;
  min-height:40vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #484848;

}

.close-button-box {
  min-width: 50vw;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close-button {
  border: none;
  background-color: white;
  min-width: 0%;
  margin-right: 10px;
  font-size: 1.5em;
}

.banner-message {
  display:flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid lightgray;
  padding: 1em;
}

@media screen 
  and (max-width: 768px) { 

  .App-header {
    flex-direction: column;
    justify-content: center;
  }

  .body {
    justify-content: flex-start;
  }

  .body-results {
    min-width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  .submit-btn {
    min-width: 95vw;
    padding: 0px;
  }

  .search-input {
    width: 95vw;
    font-size: 16px; 
  }

  .search-input-component {
    padding-top: .5em;
    border: 1px solid black;
   
  }

  .img-header {
    min-width: 100vw;
  }

  .list-item ul{
    max-width: 100vw;  
  }
   
  li {
    max-width: 100vw;
  }

  .results-component {
    min-width: 90vw;
  }

  .results-header {
    min-width: 90vw;
  }

  .banner-box {
    top: 125%;
  }

  .banner-message {
    border: 1px solid lightgray;
  }

  .details-card {
    display: flex;
    flex-direction: column;
    z-index: 5;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    margin: 0 auto;
    top: 75%;
    left: 0%;
    /* margin-top: 0vh;
    margin-left: 0vw; */
    padding: 10px;
    border-radius: 0px;
  }

}

.search-input-component {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  box-shadow: 0px 10px 10px -5px #484848;
  padding: 5px;

}

.results-component {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45vw;
  height: 60vh;
  margin: 20px;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
  color:#484848;
  border: 1px solid lightgray;
  flex-wrap: nowrap;
  overflow: auto;
  scroll-behavior: smooth;
}

.results-header {
  border: 1px solid lightgray;
  position: absolute;
  z-index: 1;
  background-color: white;
  text-align: center;
  width: 45vw;
  color: #353839;

}

.results-box {
  margin-top: 75px;
}

.list-item ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px 20px 5px 0;

}

li {
  max-width: 60%; 
}

.button-line-item {
  list-style-type: none;
}

.App-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  height: 20vh;
  max-width: 100vw;
  background-color: #130d0d;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
